
.api-analytics-container {
    width: 1355px;
    height: 1036px;
    left: 85px;
    background: #FCFCFC;
    margin-left: 5%;
   margin-top: 50px;
  }
  
  .api-analytics-container h1 {
    width: 261.38px;
    height: 33.77px;
    top: 102.32px;
    left: 144px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    line-height: 33.89px;
    text-align: left;
    color: #000000;

    
  }
  
  .api-analytics-container p {
    width: 784px;
    height: 77px;
    top: 160px;
    left: 144px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #525252;

  }
  

  .api-analytics-controls {
    width: 338px;
   height: 197px;
   top: 110px;
   left: 1001px;
   margin-left: 13%;
   margin-top: -2%;

  }
  
  .api-analytics-controls label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: -20%;
    width: 337px;
    height: 38px;
    top: 27px;
    background: #FFFFFF;

  }
  
  .api-analytics-controls select {
    width: Fixed (304px)px;
    height: Hug (15px)px;
    top: 38px;
    left: 17px;
    justify-content: space-between;

    
  }
  
  .api-analytics-summary {
    width: Hug (358px)px;
    height: Hug (31px)px;
    top: 309px;
    left: 144px;
    gap: 17px;
    
  }
  
  .api-analytics-summary h3 {
    height: 22px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;
    color: #000000;

  }
  .api-analytics-chart {
    width: 953px;
    height: 313px;
    top: 428px;
    left: 221px;
   background-color: linear-gradient(180deg, #FFB02F 55.51%, #FFFFFF 100%);
   margin-top: 10%;
  }
 