/* ForgotPassword.css */
.password {
    width: 400px;
    height: 550px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
    background: linear-gradient(295.62deg, #FFFFFF 11.7%, #FFEFDC 88.3%);

  }
  
  .go-back {
    display: flex;
    align-items: center;
    margin-right: 40%;
    margin-bottom: 20px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;

  }
  
  .go-back:hover {
    text-decoration: underline;
  }
  
  .go-back svg {
    margin-right: 8px; 
    font-size: 20px; 
  }
  
  .title  {
    width: 355px;
    height: 30px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    left: 100px;
    text-align: left;
    color: #000000;

  }
  
  .paragraph {
    width: 355px;
    height: 57px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
     line-height: 19px;
    text-align: left;
    color: #565656;
  }
  
  .input {
    width: 337px;
    height: 38px;
    border: 1px 0px 0px 0px;
    border: 1px solid #D4D4D4;  
      
  }
  
  .otp-button {
    width: 243px;
     height: 40px;
     top:30px;
    border-radius: 4px 0px 0px 0px;
    box-shadow: 0px 0px 4px 0px #00000040;
    background: linear-gradient(355.17deg, #EB9200 3.88%, #FFB02F 96.11%);

  }
  
  .enter-otp {
    margin-top: 20px;
    padding: 20px;
    
  }
  
.heading {
 width: 338px;
height: 22px;
top: 385px;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: left;
color: #000000;
margin-right: 100%;

  }
  
  .otp-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 100px;
  }
  
  .otp-input {
    text-align: center;
    width: 41px;
    height: 38px;
    top: 27px;
    border-radius: 3px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4

  }
  
  .timer {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    color: #E46900;

  }
  
  .resend-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
    font-family: Inter;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    color: #232323;


  }
  
  .verify-button {
    margin-top: 20px;
    width: 100%;
  }
  